.foodSection {
  /* padding: 1rem; */
  background: var(--dark-white);
  /* font-family: Arial, sans-serif; */
  border-radius: 8px;
  padding-bottom: 0.1rem;
  font-family: Arial, sans-serif;
}

.foodSection h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.5rem;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
}

.card {
  background: white;
  border-radius: 8px;
  overflow: visible; /* or unset */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin: 1.5rem !important;
}

.cardHeader {
  background: #e8f2ff;
  padding: 1.25rem;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 8px;
  /* background: linear-gradient(to right, var(--light-accent), #7caceb); */
}

.cardTitle {
  padding: 5px 15px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  color: var(--dark-white);
  background: linear-gradient(to right, var(--light-accent), #7caceb);
}

.cardContent {
  /* padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
  padding: 2.5rem 2rem;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.info p {
  font-size: 17px;
}

.icon {
  font-size: 1.2rem;
  min-width: 1.5rem;
  color: var(--golden-color);
  margin-top: 5px;
}

/* Responsive: Stack columns on small screens */
@media (max-width: 768px) {
  .cardContent {
    grid-template-columns: 1fr;
    padding: 0.75rem;
  }

  .cardHeader {
    font-size: 1rem;
  }

  .icon {
    font-size: 1rem;
  }
}

/* Property Rules card */
.rulesSection {
  /* padding: 1rem; */
  margin-top: 1rem;
  background-color: var(--dark-white);
  border-radius: 8px;
  padding-bottom: 0.1rem;
  font-family: Arial, sans-serif;
}

.rulesSection h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.subheadingRule {
  font-weight: 600;
  font-size: 0.9rem;
  /* color: var(--text-color-gray); */
  /* margin-left: 0.25rem; */
  font-size: 15px;
  margin-left: 10px;

  padding: 5px 10px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  color: var(--dark-white);
  background: linear-gradient(to right, var(--light-accent), #7caceb);
}

.cardRule {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px #0000001a;
  padding: 1.5rem;
  margin: 1.5rem 1.5rem;
}

.cardContentRule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.columnRule {
  gap: 2rem !important;
}

.columnRule h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.rule {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}
.rule p {
  font-size: 17px;
}

.iconRuleAllow {
  font-size: 1.25rem;
  min-width: 1.5rem;
  color: var(--green-text);
  margin-top: 2px;
}
.iconRuleBan {
  font-size: 1.25rem;
  min-width: 1.5rem;
  color: var(--text-color-red);
  margin-top: 2px;
}

/* Responsive */
@media (max-width: 768px) {
  .cardContentRule {
    grid-template-columns: 1fr;
  }
}
