.headingSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.hotelCardHeading {
  font-size: 28px;
  font-weight: 700;
}

.hotelCard {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.left {
  padding: 12px;
}

.mainImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnailList {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  overflow-x: auto;
}

.thumbnailList img {
  width: 67px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
}

.viewAll {
  width: 60px;
  height: 60px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #333;
  border-radius: 6px;
  flex-shrink: 0;
}

.right {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.hotelInfo {
  display: flex;
  flex-direction: column;
}

.hotelInfo h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.headingStarHotels {
  display: flex;
}

.badgeRating {
  justify-content: space-between;
}

.badge {
  /* background-color: #ffe08a; */
  color: #333;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 8px;
  font-size: 20px;
  border: 1px solid #333;
}
.star {
  /* background-color: #ffe08a; */
  color: #f1dd0a;
}
.ratingTotal {
  /* background-color: #ffe08a; */
  color: #333;
  /* padding: 2px 6px; */
  /* border-radius: 4px; */
  font-size: 14px;
  margin-left: 80px;
  font-weight: 600;
  /* border: 1px solid #333; */
}

.location {
  color: #0077cc;
  font-size: 0.85rem;
}

.tags {
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags span {
  padding: 4px 8px;
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.8rem;
}

.labels {
  margin-top: 10px;
}

.labels p {
  font-size: 0.85rem;
  margin-bottom: 4px;
}
.labelsCommon {
  margin-top: 10px;
  margin-bottom: -10px;
}

.labelsCommon p {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.featureCommon {
  color: var(--logo-color);
  font-weight: 500;
}

.iconCheck {
  color: var(--green-text);
  margin-right: 10px;
  font-weight: 900;
  font-size: 15px;
}

.couple {
  color: #ff5a5f;
}

.breakfast {
  color: green;
}

.priceBox {
  margin-top: 12px;
}
.priceBoxRoom {
  margin-top: 12px;
}

.rating {
  background-color: #28a745;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 6px;
}

.oldPrice {
  text-decoration: line-through;
  color: #777;
  font-size: 0.9rem;
}

.newPrice {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.taxes {
  font-size: 0.8rem;
  color: #666;
}

.loginMsg {
  font-size: 0.85rem;
  color: #0077cc;
  margin-top: 8px;
  display: inline-block;
}

.buttonBookNow {
  border-radius: 4px;
  background-color: var(--logo-color);
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  color: var(--dark-white);
  font-size: 20px;
  font: 600;
  margin-top: 10px;
}

.buttonBookNow:hover {
  background-color: var(--logo-color-hover);
}

.buttonRoom {
  background-color: #fff2f2;
  color: var(--logo-color);
  border: 1px solid var(--logo-color);
  border-radius: 20px;
  padding: 2px 12px;
  font-size: 16px;
  margin-bottom: 8px;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .hotelCard {
    /* max-width: 1000px; */
    /* padding: 20px; */
    margin: 0 auto 20px;
  }

  .cardContent {
    flex-direction: row;
  }

  .left {
    flex: 1;
    min-width: 250px;
    max-width: 325px;
    padding: 16px;
  }

  .right {
    flex: 1.5;
    padding: 16px;
  }

  .hotelInfo {
    flex-direction: row;
    justify-content: space-between;
  }

  .priceBox {
    text-align: right;
    min-width: 180px;
    margin-top: 0;
  }

  .priceBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ensure the parent has full height */
  }

  .priceBoxRoom {
    text-align: right;
    min-width: 180px;
    margin-top: 0;
  }

  .buttonRoom {
    align-self: flex-end;
  }
}

/* Drop don toggle css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  padding: 10px 16px;
  font-size: 16px;
  border: 2px solid var(--text-color-gray);
  /* border: 2px solid #0071f3; */
  border-radius: 8px;
  background: white;
  cursor: pointer;
  min-width: 160px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .dropdownToggle :hover {
  border: 2px solid #0071f3;
} */

.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 230px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 10px 0;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.option:hover {
  background-color: #f5f5f5;
}

.option input[type="radio"] {
  accent-color: #0071f3;
  width: 16px;
  height: 16px;
}

.dropdownMenu li {
  padding: 10px 16px;
  cursor: pointer;
}

.active {
  color: #0071f3;
  font-weight: bold;
}
