.mainContentBody {
  margin: 0 auto;
  max-width: 1300px;
  font-family: Arial, sans-serif;
}

.hotelTabNavigationBar {
  background-color: var(--bg-light-blue);
  /* background-color: var(--background); */
  /* background-color: #fff; */
  width: 100%;
  margin: 0;
  padding: 0;
  top: 80px;
}

.hotelContainer {
  max-width: 100%;
  margin: 0 auto;
  background: white;
}

/* Header Section */
.hotelHeader {
  /* padding: 16px; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Optional: for better responsiveness */
}

.leftHeading {
  /* justify-content: start; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hotelRating {
  /* display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 8px; */

  /* background-color: #ffe08a; */
  color: var(--dark-white);
  /* background-color: #3367d1; */
  /* color: #333; */
  padding: 0px 6px;
  /* border-radius: 50px; */
  margin-right: 8px;
  font-size: 12px;
  /* border: 1px solid #333; */
  display: flex;
  /* display: inline-block; */
  align-items: center;
  justify-content: center;
}

.stars {
  color: #fdba00;
  margin-right: 8px;
}

.hotelType {
  color: #666;
  margin-left: 8px;
}

.rightHeading {
  display: flex;
  gap: 10px;
  text-align: right;
  /* flex-direction: column; */
  align-items: flex-end;
}

.coupleFriendly {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--light-accent);
  color: var(--text-color-black);
  /* border: 1px solid #ff6d38;
  color: #ff6d38; */
  padding: 12px;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 15px;
}

.coupleFriendly svg {
  margin-right: 4px;
}

.viewsMap {
  display: flex;
  align-items: center;
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 8px 12px;
  gap: 5px;
  font-size: 15px;
  /* padding: 5px; */
}

.hotelHeading {
  display: flex;
}

.hotelName {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.badge {
  /* background-color: #ffe08a; */
  color: var(--dark-white);
  background-color: var(--bg-star);
  /* color: #333; */
  padding: 0px 6px;
  border-radius: 50px;
  margin-right: 8px;
  font-size: 15px;
  border: 1px solid #333;
  display: inline-block;
}
.star {
  /* background-color: #ffe08a; */
  color: #f1dd0a;
}

.hotelAddress {
  display: flex;
  align-items: flex-start;
  color: #666;
  /* margin-bottom: 12px; */
}

.addressIcon {
  margin-right: 8px;
  color: #2276e3;
}

.addressText {
  flex: 1;
  display: flex;
}

.locationIcon {
  font-size: 20px;
  color: #0077cc;
  margin-right: 5px;
}
.locationHighlight {
  display: flex;
  align-items: center;
  margin-top: 4px;
  color: #2276e3;
}

.locationHighlight img {
  margin-right: 4px;
}

.reviews {
  display: flex;
  align-items: center;
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 5px 12px;
  gap: 5px;
  font-size: 15px;
  /* padding: 5px; */
}

.ratingBadge {
  background-color: #1ca54f;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  /* margin-right: 8px; */
}

.ratingTotal {
  color: var(--text-color-black);
  font-size: 12px;
  /* margin-left: 8px; */
  font-weight: 500;
}

.mapBadge {
  /* background-color: #1ca54f; */
  color: white;
  /* padding: 4px 8px; */
  border-radius: 4px;
  font-weight: 600;
  margin-right: 8px;
}

.mapIcon2 {
  width: 30px;
  height: 30px;
}

/* Galary section style css */
.cardBody {
  padding: 1px 15px;
  background-color: var(--dark-white);
  border-radius: 8px;
  margin: 16px 0;
}

.card {
  display: flex;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  margin: 16px 0;
  flex-direction: column;
  /* padding: 15px; */
}

/* Image Section */
.imageSection {
  position: relative;
  display: flex;
  flex: 1;
}

.mainImageContainer {
  position: relative;
  height: 250px;
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  z-index: 1; /* Lower than other elements */
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.prevButton {
  left: 16px;
}

.swapIcon {
  font-size: 20px;
}

.nextButton {
  right: 16px;
}

.thumbnailContainer {
  display: flex;
  padding: 0px 8px;
  gap: 8px;
}

.thumbnail {
  width: 220px;
  height: 111px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #eee;
}

.viewAllPhotos {
  position: absolute;
  bottom: 10px;
  right: 6%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  z-index: 1;
}

/* Details Section */
.detailsSection {
  flex: 1;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-evenly;
}
.detailsSectionText {
  padding: 0px 0px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.roomInfo {
  flex: 1;
}

.roomName {
  font-size: 18px;
  /* margin-bottom: 8px; */
  color: var(--text-color-black);
  /* color: #333; */
  font-weight: 500;
}

.guestInfo {
  display: flex;
  gap: 10px;
  color: var(--text-color-black);
  /* color: #666; */
  font-weight: 500;
  font-size: 15px;
  /* margin-bottom: 12px; */
}

.guestIcon {
  margin-top: 4px;
  margin-right: -4px;
}

.roomIcon {
  margin-top: 4px;
  margin-right: -4px;
}

.amenities {
  margin-bottom: 16px;
}

.amenities ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.amenities li {
  font-size: 14px;
  color: #444;
  display: flex;
  align-items: center;
}

.amenities li:before {
  content: "•";
  margin-right: 8px;
  color: #2276e3;
}

.moreAmenities {
  background: none;
  border: none;
  color: #2276e3;
  font-size: 14px;
  margin-top: 8px;
  cursor: pointer;
  padding: 0;
}

.amenitiesService {
  margin-top: 4px;
}

.breakFast {
  color: var(--green-text);
  font-size: 14px;
}

.beakFastIcon {
  margin-right: 4px;
}

.cancelRoom {
  color: var(--green-text);
  font-size: 14px;
}

.cancelRoomIcon {
  margin-right: 4px;
}

.selectRoomButton {
  background: var(--light-orange);
  /* border: 1px solid #2276e3; */
  color: var(--dark-white);
  padding: 9px 11px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  margin-top: 5px;
}

.selectRoomButton:hover {
  background: var(--dark-orange);
}

/* Pricing Section */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.originalPrice {
  text-decoration: line-through;
  color: var(--logo-color);
  font-size: 20px;
  margin-bottom: -5px;
}

.discountPrice {
  font-size: 27px;
  font-weight: 700;
  color: #333;
}

.taxes {
  color: var(--text-color-black);
  /* color: #666; */
  font-size: 14px;
  font-weight: 500;
  align-items: right;
  text-align: right;
}

.basePrice {
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
}

.bookNowButton {
  background: var(--light-orange);
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
}
.bookNowButton:hover {
  background: var(--dark-orange);
}

/* Responsive Styles */
@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .imageSection {
    max-width: 70%;
    display: flex;
  }

  .mainImageContainer {
    height: 300px;
  }

  .thumbnailContainer {
    flex-direction: column;
    /* position: absolute;
    left: 16px;
    top: 16px; */
  }

  .thumbnail {
    /* width: 60px;
    height: 60px; */
    width: 220px;
    height: 111px;
    border-radius: 12px;
  }

  .detailsSection {
    max-width: 30%;
  }
}

@media (min-width: 1024px) {
  .mainImageContainer {
    height: 350px;
    width: 715px;
  }
}

/*  rating card module css */
.cardRating {
  display: flex;
  position: absolute;
  z-index: 10;
  top: 290px;
  right: 100px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 300px;
  background-color: white;
  height: fit-content;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.leftRating {
  display: flex;
  flex-direction: column; /* Align vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically if needed */
  background-color: #27ae60;
  color: white;
  padding: 16px;
  text-align: center;
  width: 40%;
}

.scoreRating {
  font-size: 1.8rem;
  font-weight: bold;
}

.totalRating {
  font-size: 0.9rem;
  margin-top: 4px;
}

.rightRating {
  padding: 12px;
  width: 60%;
}

.ratingRowRating {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.starLabelRating {
  /* width: 24px; */
  font-size: 0.9rem;
}

.barContainerRating {
  background: #e0e0e0;
  border-radius: 4px;
  height: 8px;
  flex: 1;
  margin: 0 8px;
  overflow: hidden;
}

.barFillRating {
  height: 100%;
  background-color: #0e918c;
  border-radius: 4px;
}

.countRating {
  width: 30px;
  font-size: 0.8rem;
  text-align: right;
}

.bankOfferCard {
  padding: 0px 0px 0px 12px;
  cursor: pointer;
}

/* bank offers Popup dropdown */
.modalOverlayBank {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalWrapperBank {
  max-width: 600px;
  /* width: 90%; */
  background: white;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Offer card Bank style css */
.offerCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px;
  max-width: 420px;
  font-family: Arial, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #f5f7fa 0%, #d0ca6cbd 100%);
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

.yesBankImage {
  width: 50px;
  height: 60px;
  border-radius: 8px;
  object-fit: contain;
  margin-right: 12px;
  margin-left: -5px;
  border: 1px solid #ddd;
}
/* .offerImage img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: contain;
  margin-right: 12px;
  margin-left: -5px;
  border: 1px solid #ddd;
} */

.offerDetails {
  flex-grow: 1;
}

.offerTitle {
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 4px;
  font-size: 14px;
}

.offerDescription {
  font-size: 13px;
  color: #555;
  /* white-space: nowrap;
  overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 220px;
  margin-top: -3px;
}
.offerDescriptionElite {
  font-size: 11px;
  color: #555;
  /* white-space: nowrap;
  overflow: hidden; */
  text-overflow: ellipsis;
  max-width: 220px;
}

.iconElite {
  color: var(--golden-color);
  margin-right: 5px;
}

.moreOffers {
  font-size: 13px;
  font-weight: bold;
  color: #0073e6;
  margin-left: 8px;
  white-space: nowrap;
}
.moreOffersElite {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-accent);
  margin-left: 8px;
  white-space: nowrap;
}

.faArrowRightIcon {
  color: var(--green-text);
}

.backButton {
  color: #0073e6;
  margin-top: 10px;
  cursor: pointer;
}

.backIcon {
  margin-right: 4px;
  color: #0073e6;
  font-size: 15px;
}
.rightIcon {
  color: var(--text-color-gray);
}

.placeAddress {
  margin-left: 10px;
}

.dateSearch {
  font-weight: 500;
}

/* couple friendly popup  style*/
.coupleFriendlyDetails {
  position: absolute;
  top: 288px;
  right: 390px;
  background-color: #fff4eb;
  /* background-color: var(--dark-white); */
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.featuresList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.coupleHeading {
  text-align: center;
  background-color: var(--dark-white);
  border-radius: 50px;
  padding: 3px 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.featureItem {
  padding: 2px 5px;
  margin: 5px 0;
  /* background-color: #f8f8f8; */
  border-radius: 8px;
  color: var(--text-color-black);
  font-size: 15px;
  text-align: justify;
  transition: all 0.2s;
}

.featureItem:hover {
  /* background-color: #f0f0f0; */
  /* transform: translateX(5px); */
}

.coupleFeatureIcon {
  color: var(--dark-orange);
  margin-right: 8px;
  /* margin-top: 5px; */
  font-size: 15px;
}

/* overlay Gallary Tab Nav style*/
.overlayGallaryTabNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 1300px;
  background-color: rgba(0, 0, 0, 0.6); /* Optional: dimmed background */
  z-index: 1000;
  /* display: flex; */
  justify-content: center;
  margin: 0 auto;
  /* align-items: center; */
  /* padding: 1rem; Optional: space around content */
  /* box-sizing: border-box; */
}
