.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
}

/* Date picker styles */
.reactDatepickerWrapper {
  width: 100%;
}

.reactDatepicker__inputContainer input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--border-color);
  color: var(--text-color-black);
  border-radius: 4px;
  background-color: white;
}

.reactDatepicker__header {
  background-color: var(--light-background);
}

.reactDatepicker__header .reactDatepicker__day,
.reactDatepicker__header .reactDatepicker__currentMonth,
.reactDatepicker__header .reactDatepickerYearHeader {
  color: var(--light-accent);
  /* font-weight: bold; */
  font-size: 1.2em;
}

/* Search card styles */
.searchCard {
  background-color: var(--light-accent);
  border-radius: 12px;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  /* margin-bottom: 24px; */
  color: var(--light-background);
  font-size: 15px;
}

.searchFields {
  display: flex;
  flex-direction: column;
}

.searchField {
  position: relative;
  margin-bottom: 16px;
}

.searchField:last-child {
  margin-bottom: 0;
}

.searchField label {
  display: block;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 8px;
  color: var(--light-background);
  padding-left: 4px;
  text-align: left;
}

.searchInput {
  width: 100%;
  padding: 12px 8px;
  border: 1px solid var(--border-color);
  font-size: 16px;
  height: 50px;
  border-radius: 4px;
  background-color: white;
  color: var(--text-color-black);
}

/* Destination field */
.destination .searchInput {
  border-radius: 4px;
}

/* Date fields */
.dateFields {
  display: flex;
  gap: 3px;
}

.dateField {
  flex: 1;
}

/* Guest selector */
.guestRooms {
  height: 50px;
  border: 1px solid var(--border-color);
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  cursor: pointer;
}

.roomGuestSelector {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2px;
  padding: 0 12px;
  font-size: 14px;
  width: 100%;
  color: var(--text-color-black);
  /* added css for even listener */
  cursor: pointer;
  pointer-events: auto; /* Ensure it can receive clicks */
  /* position: relative; */
  /* Helps with z-index if needed */
  /* z-index: 1; */
  /* Ensure it's above other elements */
  justify-content: space-around;
}

.roomGuestItem {
  display: flex;
  align-items: center;
  font-weight: 600;
  /* gap: 4px; */
}

/* Room guest popup */
.roomGuestPopup {
  /* position: absolute; */
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  border-radius: 8px;
  padding: 15px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  margin-top: 5px;
  z-index: 11;
  width: 200px;
  color: var(--text-color-black);
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.counter span {
  color: var(--text-color-black);
  text-align: start;
  margin-bottom: 5px;
  font-size: 20px;
  /* gap: 20px; */
}
.counterPara {
  color: var(--text-color-black);
  margin-top: 5px;
  font-size: 17px;
  font-weight: 500;
}

.counterControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counterControls button {
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-black);
}

.doneButton {
  width: 100%;
  padding: 8px;
  background-color: var(--logo-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: var(--border-color);
  margin: 8px 0;
}

.searchButton {
  background-color: var(--logo-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 8px;
  margin-bottom: 15px;
  /* height: 50px; */
  height: auto;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.searchButton:hover {
  background-color: var(--logo-color-hover);
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  margin-top: 12px;
}

.popularFilter {
  display: flex;
  align-items: center;
  padding: 5px 2px;
  font-size: 14px;
  font-weight: 500;
}

.filterCheckbox {
  display: none;
  /* display: block; */
  /* color: red; */
}

.filterLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid var(--border-color);
}

.filterLabel:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.filterCheckbox:checked + .filterLabel {
  background-color: rgba(37, 99, 235, 0.1);
  border-color: var(--primary-color);
}

.customCheckbox {
  width: 16px;
  height: 16px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  /* background-color: var(--dark-white); */
}

.customCheckbox.checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.customCheckbox::after {
  content: "";
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}

.customCheckbox.checked::after {
  opacity: 1;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  .searchFields {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 3px;
  }

  .destination {
    flex: 1 0 100%;
  }

  .dateFields {
    flex: 2;
    margin-right: 0;
  }

  .guests {
    flex: 1;
  }

  .divider {
    display: none;
  }

  .searchButton {
    width: 100%;
    max-width: 17%;
    margin-left: auto;
    margin-top: 0;
  }

  .roomGuestPopup {
    right: auto;
    /* left: 0; */
    top: 100%;
  }
}

/* Desktop screens */
@media (min-width: 1024px) {
  .searchFields {
    flex-wrap: nowrap;
  }

  .destination {
    flex: 2;
  }

  .dateFields {
    flex: 2;
  }

  .guests {
    flex: 1;
  }

  .filters {
    font-size: 16px;
  }

  .popularFilter {
    font-size: 16px;
  }

  .filterLabel {
    font-size: 16px;
  }
}

/* popup css style new */

.travellerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--dark-white);
  border-radius: 12px;
  padding: 1.25rem;
  width: 90%;
  max-width: 22rem;
  /* box-shadow: var(--modal-shadow); */
  color: var(--text-color-black);
  font-size: 17px;
  font-weight: 500;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.modalHeaderTitle {
  font-size: 25px;
}
