.container {
  max-width: 1300px;
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: var(--dark-white);
  border-radius: 8px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  /* margin-bottom: 12px; */
  /* text-align: center; */
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.amenitiesGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 1.5rem; */
  /* margin-bottom: 2rem; */
}

.section {
  background: #fff;
  /* border-radius: 8px; */
  /* padding: 1.25rem; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.emptySection {
  visibility: hidden;
}

.sectionTitle {
  font-size: 1rem !important;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-left: 2rem;
  /* margin-left: 5px; */
}

.itemsList {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* gap: 0.25rem; */
  margin-left: 35px;
  padding-left: 5px;
}

.item {
  font-size: 16px;
  color: var(--text-color-black);
  padding: 0.25rem 0;
}

.toggleButton {
  display: block;
  /* margin: 2rem auto 0; */
  padding: 0.75rem 1.5rem;
  background: none;
  /* border: 2px solid #0070f3; */
  color: #0070f3;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.toggleButton:hover {
  /* background: #0070f3; */
  color: #0070f3;
  /* color: white; */
}

@media (max-width: 1024px) {
  .amenitiesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .amenitiesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .amenitiesGrid {
    grid-template-columns: 1fr;
  }
}

/*  Popular amenities */
.amenitySection {
  background-color: white;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  /* padding: 20px; */
  transition: transform 0.3s ease;
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

/* .amenitySection:hover {
  transform: translateY(-5px);
} */

.amenityHeading {
  color: var(--dark-white);
  font-size: 18px;
  font-weight: 500;
  /* margin-bottom: 15px; */
  padding: 5px 1rem;
  border-bottom: none;
  margin: 10px 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background: linear-gradient(to right, var(--light-accent), #7caceb);
}
.popularAmenities {
  grid-column: 1 / -1;
  background-color: var(--light-color);
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.amenityList {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-left: 15px;
}

.amenityList li {
  /* padding: 8px 0; */
  /* border-bottom: 1px dashed var(--border-color); */
  display: flex;
  align-items: center;
}

.amenityList li:last-child {
  border-bottom: none;
}

.amenityList li strong {
  color: var(--primary-color);
  margin-right: 5px;
}

.pAIcon {
  margin-right: 10px;
  font-style: 15px;
}

/* Amenities Section All Styles */ /* Container wrapper */ /* Wrapper for the entire amenities section */
.amenitiesContainerAll {
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.multiColumnList {
  column-count: 5;
  column-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  break-inside: avoid;
  /* margin-bottom: 0.5rem; */
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  transition: color 0.2s ease;
  line-height: 1.4;
}

/* .item:hover {
  color: #1d4ed8;
} */

.bullet {
  margin-right: 0.5rem;
}

@media (max-width: 1280px) {
  .multiColumnList {
    column-count: 4;
  }
}

@media (max-width: 1024px) {
  .multiColumnList {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .multiColumnList {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .multiColumnList {
    column-count: 1;
  }
}
