.headerTopBody {
  z-index: 30;
}

.hotelsearchBarHeader {
  background-color: var(--dark-accent);
  /* background-color: #fd6e37; */
  /* background: linear-gradient(to right, #e04a1a, #fd6e37); */
  position: sticky;
  top: 0; /* This is crucial for sticky positioning to work */
  z-index: 100; /* Ensures the header stays above other content */
  width: 100%; /* Takes full width */
  z-index: 29;
}

/* body {
  color: #000;
  background: #ffffff !important;
} */

.hotelSummary {
  width: 1270px;
  margin: 0 auto;
  /* background-color: var(--color-background); */
}
