.hotelsearchBarHeader {
  background-color: var(--light-accent);
  position: sticky;
  top: 0; /* This is crucial for sticky positioning to work */
  z-index: 100; /* Ensures the header stays above other content */
  width: 100%; /* Takes full width */
  z-index: 9999;
}

/* body {
  color: #000;
  background: #ffffff !important;
} */

.hotelSummary {
  width: 1270px;
  margin: 0 auto;
  /* background-color: var(--color-background); */
}
