.layoutCont {
  background-image: url("https://cdn.sanity.io/images/ocl5w36p/prod4/28be5ff526dc125584f9a493f99e879a2de8f5d7-3841x1861.jpg?w=1920&auto=format&dpr=2");
  /* background-image: url("https://www.lemontreehotels.com/assets/front/images/rewards_banner_1.jpg"); */
  width: 100vw; /* or fixed value like 800px */
  height: 300px; /* adjust as needed */
  background-size: cover; /* or 'contain' based on your needs */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
}

.layout {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  gap: 20px;
  padding: 1.5rem 1.25rem;
}

.mainContent {
  width: 70%;
  margin-top: 200px;
}

.sidebar {
  width: 30%;
  /* background-color: #f9f9f9; optional */
  margin-top: 200px;
}

/* Button Style */

.buttonContainer {
}

.submitButton {
  background-color: var(--logo-color);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 10px;
  width: 100%;
  height: 70px;
}

.submitButton:hover {
  background-color: var(--logo-color-hover);
}

.submitButton:active {
  background-color: var(--logo-color-hover);
}

/* Agree to privacy policy style */
.container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: var(--link-color);
  cursor: pointer;
}

.text {
  font-size: 14px;
  color: var(--text-color-black);
  line-height: 1.4;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .container {
    align-items: flex-start;
  }

  .text {
    font-size: 13px;
  }
}
