.searchOptionsCab {
  padding: 5px 15px 15px 15px;
}
.searchOptionsCabBody {
  padding: 0.5rem 1rem 2.5rem 1rem;
  background-color: var(--light-accent);
  border-radius: 12px;
}

/* Trip Type */
.tripType {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  flex-wrap: wrap;
}

.tripOption {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.tripOption input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

.tripOption input[type="radio"]:checked {
  border-color: var(--logo-color);
}

.tripOption input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: var(--logo-color);
  border-radius: 50%;
}

.tripOption label {
  font-weight: 500;
  cursor: pointer;
  color: var(--dark-white);
}

.tripOption.active label {
  color: var(--dark-white);
  font-size: 18px;
}

/* Search Fields */
.searchFieldsMultipleCab {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
}
.searchFieldsMultipleCabHourly {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3px;
}

@media (min-width: 768px) {
  .searchFieldsMultipleCab {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchFieldsMultipleCabHourly {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .searchFieldsMultipleCab {
    grid-template-columns: repeat(5, 1fr);
  }
  .searchFieldsMultipleCabHourly {
    grid-template-columns: repeat(6, 1fr);
  }

  .searchButtonContainer {
    display: flex;
    align-items: flex-end;
  }
}

.fieldGroup {
  position: relative;
}

.travellerGroup {
  position: relative;
}

.fieldLabel {
  display: block;
  font-size: 17px;
  color: var(--dark-white);
  /* color: #666; */
  margin-bottom: 5px;
  font-weight: 500;
}

.fieldInput {
  width: 100%;
  padding: 0px 0px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 20px;
  background-color: var(--dark-white);
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40px;
}

.travellerInput {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  display: flex;
}

.travellerValue {
  font-weight: 500;
  font-size: 25px;
  margin-left: 10px;
}

.travellerArrow {
  position: absolute;
  right: 10px; /* top: 50%; */
  /* transform: translateY(-50%); */
  color: #666;
  font-size: 15px;
}

.travellerModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--background);
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 250px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.modalHeader h3 {
  font-size: 1.75rem;
  color: var(--text-color-gray);
  font-weight: 600;
}

.closeModal {
  background: none;
  border: none;
  font-size: 1.25rem;
  color: #666;
  cursor: pointer;
}

.classOptions {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 10px;
  margin-bottom: 20px;
}

.classOption {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.classOption.selected {
  border-color: var(--light-accent);
  background-color: rgba(15, 106, 163, 0.1);
}

.applyButton {
  width: 100%;
  padding: 12px;
  background-color: var(--logo-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.applyButton:hover {
  background-color: var(--logo-color-hover);
}

.inputField {
  width: 100%;
  /* border: 1px solid var(--border-color); */
  outline: none;
  font-size: 25px;
  font-weight: 500;
  /* background: transparent; */
  background-color: var(--dark-white);
  padding: 0px 10px;
  margin-bottom: 2px;
  min-height: 40px;
  border-radius: 8px;
}

.inputField::placeholder {
  color: #ccc;
}

.fieldSubtext {
  font-size: 16px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  background-color: var(--dark-white);
  border-radius: 8px;
}

.swapButton {
  position: absolute;
  top: 63%;
  right: -15px;
  transform: translateY(-50%);
  background-color: var(--dark-white);
  border: 1px solid var(--border-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.swapIcon {
  color: var(--primary-color);
  font-size: 1rem;
  z-index: 3;
}

.swapButton i {
  color: var(--primary-color);
  font-size: 0.875rem;
}

/* Date Fields */
.dateInput {
  position: relative;
}

.datePickerInput {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  color: black;
  border-radius: 8px;
}

.dateDisplay {
  pointer-events: none;
}

.dateValue {
  display: flex;
  align-items: baseline;
}

.dateDay {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
}

.dateMonth {
  font-size: 18px;
  font-weight: 500;
}

.dateYear {
  font-size: 18px;
  font-weight: 500;
  margin-left: 3px;
}

.dateWeekday {
  font-size: 16px;
  color: #666;
  margin-left: 10px;
}

.returnNote {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin-top: 5px;
}

/* Search Button */
.searchButtonMultiple {
  width: 100%;
  padding: 10px;
  background-color: var(--logo-color);
  color: var(--dark-white);
  border: none;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  min-height: 70px;
  margin-bottom: 0px;
}

.searchButtonMultiple:hover {
  background-color: #c5260f;
}

/* React Date Picker Custom Styles */
.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  color: black;
  border-radius: 8px;
}

.react-datepicker__header {
  background-color: var(--light-accent) !important;
  color: var(--dark-white) !important;
}

.react-datepicker__header .react-datepicker__day,
.react-datepicker__header .react-datepicker__current-month,
.react-datepicker__header .react-datepicker-year-header {
  color: var(--light-accent) !important;
  font-weight: bold;
  font-size: 25px !important;
}
