/* components/MemberTiersBenefits.module.css */
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color-black);
  margin: 0;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.controlButton {
  background: none;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.controlButton:hover {
  background-color: #f5f5f5;
}

.controlButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrowIcon {
  font-size: 1rem;
  color: #242424;
}

.swiperContainer {
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.swiperContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.swiperWrapper {
  display: flex;
  gap: 1.5rem;
  /* padding-bottom: 1rem; */
  justify-content: space-between;
}

.card {
  min-width: 280px;
  max-width: 450px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  flex: 1;
  background-color: var(--dark-white);
  border: 1px solid var(--border-color);
}

.card:hover {
  transform: translateY(-5px);
}

.cardImage {
  position: relative;
  width: 100%;
  aspect-ratio: 1.74;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardContent {
  padding: 1.5rem;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-color-black);
  /* margin: 0 0 0.75rem 0; */
}

.cardDescription {
  font-size: 1rem;
  color: var(--text-color-black);
  margin: 0;
  line-height: 1.5;
}

/* Responsive styles */
@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .swiperWrapper {
    gap: 1.5rem;
  }

  .card {
    min-width: 300px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 1rem 0.5rem;
  }

  .swiperWrapper {
    gap: 1.5rem;
  }

  .card {
    min-width: 350px;
  }
}
